In [155]:
import os
import pandas as pd
from sklearn.neighbors import NearestNeighbors
import numpy as np
from sklearn.utils import shuffle

In [ ]:
class Recommend:
    def __init__(articles = "", sample_submission = "", transaction = "", features=""):
        articles_df = pd.read_csv(articles)
        sample_sub_df = pd.read_csv(sample_submission)
        transaction_df = pd.read_csv(transaction)
        features_df = pd.read_csv(features)
        self.model = NearestNeighbors(n_neighbors=12)
        
    
    
    def predict():
        pass
    
    def find_centroid():
        pass
    
    def write_results():
        pass
    def generate_recommendations(self):
        # make predictions for customers in sample_sub_df
        
        customer_history = sample_sub_df.merge(transaction_df)
        customer_history.drop(['t_dat', 'price', 'sales_channel_id'], axis=1, inplace=True)
        customer_group = customer_history.groupby("customer_id")
        
        for name, group in customer_group:
            if len(group) > 0:
                pass
                # send 'group' to find_centroid, returns an embedding
                # send embedding to predict, returns predictions
                # send predictions to write_results
            
            
class evaluate:
    def __init__(results_path=""):
        self.results_df = pd.read_csv(results_path)
        
    def calc_mean_avg_precision():
        pass

In [156]:
articles_df = pd.read_csv("C:/Users/ojubh\/Desktop/SEMESTER 2/Deep Learning/Final_Project/data/articles.csv")

In [157]:
articles_df.columns

Index(['article_id', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc'],
      dtype='object')

In [158]:
sample_sub = pd.read_csv("C:/Users/ojubh\/Desktop/SEMESTER 2/Deep Learning/Final_Project/data/sample_submission.csv")

In [164]:
sample_sub.iloc[0]["customer_id"]

'00000dbacae5abe5e23885899a1fa44253a17956c6d1c3d25f88aa139fdfc657'

In [159]:
sample_sub.columns

Index(['customer_id', 'prediction'], dtype='object')

In [103]:
trans_train = pd.read_csv("C:/Users/ojubh\/Desktop/SEMESTER 2/Deep Learning/Final_Project/data/transactions_train.csv")

In [160]:
trans_train.columns # history puirchases

Index(['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id'], dtype='object')

In [165]:
trans_train[trans_train["customer_id"] == '00000dbacae5abe5e23885899a1fa44253a17956c6d1c3d25f88aa139fdfc657']

,t_dat,customer_id,article_id,price,sales_channel_id
4212358,2018-12-27,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,625548001,0.044051,1
4212359,2018-12-27,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,176209023,0.035576,1
4212360,2018-12-27,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,627759010,0.030492,1
9663224,2019-05-02,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,697138006,0.010153,2
10754876,2019-05-25,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,568601006,0.050831,2
10754877,2019-05-25,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,568601006,0.050831,2
14479578,2019-07-25,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,607642008,0.012695,1
14479579,2019-07-25,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,745232001,0.021169,1
16728347,2019-09-18,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,656719005,0.044051,2
17074660,2019-09-28,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,797065001,0.054220,2
17074661,2019-09-28,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,797065001,0.054220,2
19160879,2019-11-22,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,785186005,0.016932,2
19357364,2019-11-28,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,694736004,0.018288,1
19357365,2019-11-28,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,785710001,0.024407,1
19357366,2019-11-28,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,812683013,0.036593,1
23574620,2020-03-21,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,841260003,0.011508,2
23574621,2020-03-21,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,887593002,0.021593,2
23574622,2020-03-21,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,890498002,0.031763,2
23574623,2020-03-21,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,795440001,0.014390,2
23574624,2020-03-21,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,859416011,0.014390,2
31140481,2020-09-05,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,568601043,0.050831,1

In [152]:
image_embeddings = pd.read_csv("C:/Users/ojubh\/Desktop/SEMESTER 2/Deep Learning/Final_Project/data/visual_embeddings_final.csv")

In [166]:
image_embeddings[image_embeddings["article_id"] == 625548001]

,Unnamed: 0,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_247,feature_248,feature_249,feature_250,feature_251,feature_252,feature_253,feature_254,feature_255,article_id
6318,6318,0.005906,-0.038544,0.112788,-0.001114,-0.047949,0.025035,0.037177,0.068184,-0.008321,...,-0.005186,-0.023714,0.015461,-0.056606,-0.026489,-0.094524,-0.011572,-0.099016,-0.022905,625548001

In [105]:
merged_customer_data = sample_sub.merge(trans_train, on="customer_id", how="inner")

In [106]:
merged_customer_data.drop(['t_dat', 'price', 'sales_channel_id'], inplace=True, axis=1)

In [107]:
customer_group = merged_customer_data.groupby("customer_id")

In [161]:
len(customer_group)

1362281

In [113]:
image_embeddings.drop("article_id", inplace=True, axis=1)
image_embeddings.drop("Unnamed: 0", axis=1, inplace=True)

In [118]:
x_train = image_embeddings.to_numpy()

In [119]:
neigh = 
neigh.fit(x_train)

NearestNeighbors(n_neighbors=12)

In [ ]:
## 4 articles, sum up over all featurss/ len()
## numpy_arr = [...]

In [121]:
neigh.kneighbors(numpy_arr.reshape(1, -1))

(array([[0.        , 0.1990896 , 0.22100405, 0.24072063, 0.2425537 ,
         0.24804528, 0.248834  , 0.25008156, 0.25129139, 0.26048417,
         0.26257267, 0.26783031]]),
 array([[    0,  3126, 20782, 18722,  3480,  7166,   285,  6675, 15009,
         10820, 18750, 10864]], dtype=int64))